<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Client Information</mat-card-title>
      <mat-card-subtitle>Enter details</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form class="input-form" [formGroup]="clientForm" (ngSubmit)="onSubmit()">
        <mat-form-field floatLabel="never" hideRequiredMarker>
          <input
            matInput
            placeholder="Name"
            formControlName="name"
            type="text">
          <mat-error *ngIf="name.invalid">Name is required</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="never" hideRequiredMarker>
          <input
            matInput
            placeholder="Age"
            formControlName="age"
            type="number">
          <mat-error *ngIf="age.invalid">Age is required</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="never" hideRequiredMarker>
          <input
            matInput
            placeholder="Weight"
            formControlName="weight"
            type="number">
          <mat-error *ngIf="weight.invalid">Weight is required</mat-error>
        </mat-form-field>

        <ng-container formArrayName="friends" *ngFor="let friendCtrl of friendControls; index as i">
          <mat-form-field
            [formGroupName]="i.toString()"
            floatLabel="never"
            hideRequiredMarker>
            <input
              matInput
              placeholder="Friend name"
              formControlName="friend"
              type="text">
            <mat-error *ngIf="friends.invalid">Friend name is required</mat-error>
          </mat-form-field>
        </ng-container>

        <mat-card-actions>
          <button mat-button type="submit">Save</button>
          <button mat-button type="button" (click)="resetPage()">Reset</button>
          <button mat-button type="button" (click)="addFriendField()">Add friend</button>
          <button mat-button type="button" (click)="removeLastFriendField()">Remove last friend</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
