<div class="container">
  <ng-container *ngIf="areClientsPopulated(); else noClientTemplate">
    <div class="button-container">
      <button mat-raised-button type="button" (click)="handleModeSelected(Mode.AGE)">Age</button>
      <button mat-raised-button type="button" (click)="handleModeSelected(Mode.WEIGHT)">Weight</button>
      <button mat-raised-button type="button" (click)="handleModeSelected(Mode.FRIENDS)">Number of Friends</button>
    </div>
    <app-bar-graph [data]="chartData"></app-bar-graph>
    <h3>{{selectedMode | titlecase}}</h3>
  </ng-container>

  <ng-template #noClientTemplate>
    <h3 class="info-missing">Please enter client information</h3>
  </ng-template>
</div>
